@import "tailwindcss";



@theme inline {

  --font-sans: var(--font-mj-kedanty);
  --font-aptima: var(--font-aptima);
}


body {
  background: #000;
  color: #fff;
  font-family: var(--font-mj-kedanty);
}
